!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "lang", :content => "en"}
    %title Ipad Tyron test letter
    
    %link{:href=>'p_fichierpurple.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "p_fichierpurple.js"}
		
    %link{:href=>'purpleplayer.css', :media => "screen", :rel => 'stylesheet', :type => "text/css"}
    %script{:type => "text/javascript", :src => "jquery.min.js"}
    %script{:type => "text/javascript", :src => "purpleplayer.js"}
		    

  %body
    
    = yield