<div id='p_fichierpurple' class='player'></div>
<script type='text/javascript'>

var p_fichierpurple_player = PurplePlayer({
'id': 'p_fichierpurple',
'data': p_fichierpurple_data,
'resourcesDir': '',
'autostart': true,
'showControlPanel': false,
'showProgress': true 
});
</script>
